{% extends 'homepage/base.html' %}
{% block title %} Contact US {% endblock %} 
{% block body %} 
{% load static %}
    <div class="container">
      <span class="big-circle"></span>
      <img src='{% static "/media/images/shape.png" %}' class="square" alt="" />
      <div class="form">
        <div class="contact-info">
          <h3 class="title">Let's get in touch</h3>
          <p class="text">
            Amar licchu bhalo lage nah!
            Pot kora dorkar!!
            ei obelay kew chahe nah.
          </p>

          <div class="info">
            <div class="information">
              <!-- <img src='{% static "/media/images/pin.png" %}' class="icon" alt="" /> -->
              <p>2B Jalalia Box,Akhalia surma,Sylhet.</p>
            </div>
            <div class="information">
              <!-- <img src='{% static "/media/images/gmail.png" %}' class="icon" alt="" /> -->
              <p>fahim.sust.edu@gmail.com</p>
            </div>
            <div class="information">
              <!-- <img src='{% static "/media/images/phone.png" %}'class="icon" alt="" /> -->
              <p>+880 1778346462</p>
            </div>
          </div>
          <div class="social-media">
            <p>Connect with us :</p>
            <div class="social-icons">
              <a href="https://www.facebook.com/mdfahimur.rosid/">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="#">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="https://www.instagram.com/f_a_h_i_m_ur/">
                <i class="fab fa-instagram"></i>
              </a>
              <a href="https://www.linkedin.com/in/fahimur-rashid-9607031ba/">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="contact-form">
          <span class="circle 1"></span>
          <span class="circle 2"></span>


          <form action="/contact/" method="POST"> {% csrf_token %}
            <h3 class="title">Contact us</h3>
            <div class="input-container">
              <input type="text" id="name" name="name" class="input" />
              <label for="">Username</label>
              <span>Username</span>
            </div>
            <div class="input-container">
              <input type="email" id="email" name="email" class="input" />
              <label for="">Email</label>
              <span>Email</span>
            </div>
            <div class="input-container">
              <input type="tel" id="phone" name="phone" class="input" />
              <label for="">Phone</label>
              <span>Phone</span>
            </div>
            <div class="input-container textarea">
              <textarea  id="desc" name="desc" class="input"></textarea>
              <label for="desc">Message</label>
              <span>Message</span>
            </div>
            <input type="submit" value="Send" class="btn" />
          </form>
 
        </div>
      </div>
    </div>
    

    {% endblock %} 

    {% block js %}
    <script>
    {% if thank %}
    alert('Thanks for contacting us. We will get back to You soon!');
    
    document.location = "/";
    {% endif %}
    </script>
    {% endblock %} 



