<!DOCTYPE html>
<html lang="en">
{% load static %}
    <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
    <link rel="stylesheet" href="{% static 'css/service.css' %}" />
    <link rel="stylesheet" href="{% static 'css/about.css' %}" />
    <script src="https://kit.fontawesome.com/64d58efce2.js"  crossorigin="anonymous"></script>

        <title>Emergency</title>
    </head>
    <body>
        <header class="l-header">
            <nav class="nav bd-grid">
                <div>
                    <a href="/" class="nav__logo">Emergency</a>
                </div>
                
                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-menu'></i>
                </div>

                <div class="nav__menu" id="nav-menu">
                    <div class="nav__close" id="nav-close">
                        <i class='bx bx-x'></i>
                    </div>

                    <ul class="nav__list">
                        <li class="nav__item"><a href="/" class="nav__link active">Home</a></li>
                        <li class="nav__item"><a href="/about" class="nav__link">About</a></li>
                        <li class="nav__item"><a href="#service" class="nav__link">Services</a></li>
                        <li class="nav__item"><a href="/contact" class="nav__link">Contact</a></li>
                    </ul>
                </div>
            </nav>
        </header>

        <main class="l-main">
            <!--===== HOME =====-->
            <section class="home" id="home">
                <div class="home__container bd-grid">
                    <div class="home__img">
                        <img src='{% static "/media/images/corona.png" %}' alt="" data-speed="-2" class="move">
                    </div>

                    <div class="home__data">
                        <h1 class="home__title">COVID 19</h1>
                        <p class="home__description">Let's help discover the best Services <br> of the week.</p>
                        <a href="/" class="home__button">Get Started</a>
                    </div>
                </div>
            </section>
        </main>

        <section>
            <h1><b>Services</b></h1>
            <div class="services">
            <div class="service-1">
                <a href="/service"> 
                <div class="shapes">
                    <div class="shape-1 right"></div>
                    <div class="shape-2 right"></div>
                    <div class="shape-3 right"></div>
                </div>
                <div class="img">
                    <img  src='{% static "/media/images/service1.svg" %}' alt="">
                </div>
                <div class="description">
                    <h2> Medical</h2>
                    <p>pppppppppppppdsssssssssd dS9FOnJ0 lkdjlkfdl fl kdlfope </p>
                </div>
                <div class="shapes">
                    <div class="shape-4"></div>
                    <div class="shape-5"></div>
                    <div class="shape-6"></div>
                    
                </div>
                </a>
            </div>

            <div class="service-1">
                <a href="/service">
                <div class="shapes">
                    <div class="shape-1 right"></div>
                    <div class="shape-2 right"></div>
                    <div class="shape-3 right"></div>
                </div>
                <div class="img">
                      <img  src='{% static "/media/images/service2.svg" %}' alt=""> 
                </div>
                <div class="description">
                    <h2> Medical</h2>
                    <p>pppppppppppppdsssssssssd dS9FOnJ0 lkdjlkfdl fl kdlfope </p>
                </div>
                <div class="shapes">
                    <div class="shape-4"></div>
                    <div class="shape-5"></div>
                    <div class="shape-6"></div>
                    
                </div>
            </a>
            </div>

            <div class="service-1">
                <a href="/service">
                <div class="shapes">
                    <div class="shape-1 right"></div>
                    <div class="shape-2 right"></div>
                    <div class="shape-3 right"></div>
                </div>
                <div class="img">
                    <img  src='{% static "/media/images/food.svg" %}' alt="">
                </div>
                <div class="description">
                    <h2> Medical</h2>
                    <p>pppppppppppppdsssssssssd dS9FOnJ0 lkdjlkfdl fl kdlfope </p>
                </div>
                <div class="shapes">
                    <div class="shape-4"></div>
                    <div class="shape-5"></div>
                    <div class="shape-6"></div>
                    
                </div>
            </a>
            </div>
        </div>
        </section>
         <div class="about" style="text-align: center;">
          <h2 style="color: black;"><b>About Us</b></h2>
        <section class="about fullheight align-items-center" id="about">
            
            <div class="container">
                <div class="row">
                    <div class="col-7 h-xs">
                        <img src='{% static "/media/images/w2.jpg" %}' alt=""
                            class="fullwidth left-to-right play-on-scroll">
                    </div>
                    <div class="col-5 col-xs-12 align-items-center">
                        <div class="about-slogan right-to-left play-on-scroll">
                            <h3>
                                <span class="primary-color">We</span> create <span class="primary-color">delicious</span>
                                memories for <span class="primary-color">you</span>
                            </h3>
                            <p>
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio natus placeat et eos,
                                dignissimos voluptatem tempora necessitatibus doloribus! Eum qui doloribus odio dolor
                                tenetur nihil impedit vero magni, distinctio soluta!
                            </p>
                            <a href="/about" class="read"><b>Read More</b></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>




        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
        <script src="{% static 'jquery/main.js' %}"></script>
        <script src="{% static 'js/contact.js' %}"></script>
        {% block js %} {% endblock %}
        

        
    </body>
</html>